numpy
pandas
scikit-learn
scipy
matplotlib~=3.7.1
tqdm
Pillow
trimap
umap-learn

huggingface-hub
torch~=2.0.0
torchvision~=0.15.1
transformers~=4.27.3
pytorch_lightning

PyQt5
pyqtconfig
pyqtdarktheme
timm
towhee
